$main-font:'Open Sans', sans-serif;
$main-name-font:'Source Sans Pro', sans-serif;
$font-color: #81868e;
$header-color: #ffcc00;
$font-size: 14px;
$font-height: 1.5; //line-height
$font-weight: 400;
$color-bg: #fff;

/** Grid variables **/
$container-width: 1169px;
$col-padding: 15px;