@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Source+Sans+Pro:300');
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?qq6gi2');
  src:  url('../font/icomoon.eot?qq6gi2#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?qq6gi2') format('truetype'),
    url('../font/icomoon.woff?qq6gi2') format('woff'),
    url('../font/icomoon.svg?qq6gi2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
  content: "\e901";
}


@import "veriables";
@import "mixin";
@import "grid";
@import "normalize";

html,body{
	min-height: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	font-family: $main-font;
	font-size: $font-size;
	line-height: $font-height;

}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a, button{
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

button:hover,
.btn:hover,
button:focus,
.btn:focus{
  background: #fff;
  color:#3c3c3c;
}

button:active,
.btn:active{
  background: #a09d9d;
}

.bo-first-section{
	position: relative;
	background: url(../img/IMAGE.jpeg) no-repeat center center;
	background-size: cover;
    min-height: 100vh;
    padding-bottom: 40px;
    box-sizing: border-box;
}

ul{
	list-style-type: none;
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;


	a{
	text-decoration: none;
	color: #c2b8ac;
	}

	li{
	display: inline-block;
	padding:  0 10px;
	font-size: 16px;
	border: 1px solid #c2b8ac 0;
	border-radius: 10px;
	box-sizing: border-box;
	}
}

.text--right{
	text-align: right;
	display: inline-block;
}


.bo-header{
	padding-top: 44px;
	box-sizing: border-box;
}

.head-m:hover{
	border: 1px solid #c2b8ac;
	border-radius: 10px;
	// padding: 5px 15px;
	// background: grey;
}

.bo-first-section--text{
	position: absolute;
	top: 36%;
	left: 51%;
	transform: translate(-50%);
	text-align: center;
	margin: 0 auto;
	color: white;
}

.bo-first-section__name{
	font-family: 'Source Sans Pro';
	text-transform: uppercase;
	font-size: 35px;
	letter-spacing: 7px;

}

.bo-first-section__description{
	font-family: 'Open Sans';
	margin: 0 auto;
	width: 60%;
	font-size: 16px;

}

.icon-keyboard_arrow_down{
	position: absolute;
	color: $font-color;
	bottom: 0;
	left: 50%;
	font-size: 40px;
	transform: translate(-50%);
	border: 1px solid #c2b8ac;
	border-radius: 20px;
	margin-bottom: 40px;
}

.icon-keyboard_arrow_down:hover{
	background: grey;
	color: black;
}

// second section

.bo-second-section{
	position: relative;
	background: white;
	text-align: center;
	
	h2{
		padding: 110px 0 0;
		margin: 0;
		font-size: 20px;
		font-family: 'Source Sans Pro';
		text-transform: uppercase;
		color: #333b46;
		letter-spacing: 5px;
	}

	p{
		padding-top: 36px;
		color: #81868e;
		width: 45%;
		margin: 0 auto;
	}

	nav{
		padding: 75px 0 66px;
	}
}

.button-group{
	li{
		color: #464646;
	}
}

.portfolio-menu{
	position: relative;
	color: black;
	cursor: pointer;
}

.portfolio-menu:hover:before{
	position: absolute;
  	content: '';
  	border: 1px solid black;
  	width: 40%;
  	bottom: -50%;
  	left: 45%;
  	transform: translateX(-40%);
  	-ms-transform: translateX(-40%);
  	-webkit-transform: translateX(-40%);
  	-o-transform: translateX(-40%);
  	-moz-transform: translateX(-40%);
  	transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
}

.grid-sizer,
.grid-item { 
	width: 22%; 
	margin: 5px 5px;
}

.grid{
	position: absolute;
	margin: 0 auto;
	left: 3%;
}

.col-2{
	padding: 0;
}
